# General
.DS_Store
.vscode/
.idea/
*.log
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Root)
.venv/
venv/
env/
.env

# Django (Backend)
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/.env

# React (Frontend)
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-error.log*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
