version: '3.8'

services:
  # 1. THE DATABASE
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: bio_db
      POSTGRES_USER: guimoneda
      POSTGRES_PASSWORD: 0091

  # 2. THE BACKEND (Django)
  backend:
    build: ./backend
    container_name: bio-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://guimoneda:0091@db:5432/bio_db

  # 3. THE FRONTEND (React/Node)
  frontend:
    image: node:18-alpine
    container_name: bio-frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: npm start
    ports:
      - "3000:3000"

  # 4. THE TUNNEL
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    command: tunnel --no-autoupdate run --token eyJhIjoiY2Q1YjA2MDNlNTkwODZiOTg5YTk4ZDY0N2VjZjAxNWUiLCJ0IjoiNTNlNGY1ZTItYzg3ZC00MTdhLThiYzEtZjIxNzIyOTgxNDU1IiwicyI6Ik16SmhOemxrTnpFdE1tRmtNaTAwWlRVeUxXRXdOall0TVRSa05qRXpZek16TmpneCJ9
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # No ports needed, it talks to the containers internally

volumes:
  postgres_data: