version: '3.8'

services:
  # 1. THE DATABASE
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      # Use variables from .env
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: unless-stopped

  # 2. THE BACKEND (Django)
  backend:
    build: ./backend
    container_name: bio-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      # dynamically build the URL using the same variables
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      ALLOWED_HOSTS: 'bio.guimoneda.com,localhost,127.0.0.1'
      CSRF_TRUSTED_ORIGINS: 'https://bio.guimoneda.com'
    restart: unless-stopped

  # 3. THE FRONTEND (React/Node)
  frontend:
    image: node:20-alpine
    container_name: bio-frontend
    working_dir: /app
    environment:
      WDS_SOCKET_PORT: "0"
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm start"
    ports:
      - "3000:3000"
    

  # 4. THE TUNNEL
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # No ports needed, it talks to the containers internally

volumes:
  postgres_data: