version: '3.8'

services:
  # 1. THE DATABASE
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: bio_db
      POSTGRES_USER: guimoneda
      POSTGRES_PASSWORD: oE4X1!pAssw0rd

  # 2. THE BACKEND (Django)
  backend:
    build: ./backend
    container_name: bio-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgres://guimoneda:oE4X1!pAssw0rd@db:5432/bio_db

  # 3. THE FRONTEND (React/Node)
  frontend:
    image: node:18-alpine
    container_name: bio-frontend
    working_dir: /app
    environment:
      WDS_SOCKET_PORT: "0"
    volumes:
      - ./frontend:/app
    command: npm start
    ports:
      - "3000:3000"
    

  # 4. THE TUNNEL
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel --no-autoupdate run --token ${TUNNEL_TOKEN}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # No ports needed, it talks to the containers internally

volumes:
  postgres_data: