name: Deploy to NAS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Cloudflared
        run: |
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          
          # Configure SSH to tunnel through Cloudflare
          # NOTE: Ensure 'ssh-moneda' matches your Cloudflare Public Hostname
          echo "Host nas
            HostName ssh-moneda.guimoneda.com
            #HostName "${{ secrets.NAS_HOST }}" 
            User guimoneda
            #User "${{ secrets.NAS_USER }}"
            IdentityFile ~/.ssh/id_ed25519
            StrictHostKeyChecking no
            ProxyCommand cloudflared access ssh --hostname %h" >> ~/.ssh/config

      - name: Deploy Files
        run: |
          # 1. Connect to NAS
          # 2. Go to your project folder
          # 3. Wipe the old 'web' folder content and replace with new files
          ssh nas "cd /volume1/docker/moneda-bio && rm -rf ./* && git clone https://github.com/guimoneda/moneda-bio.git temp && mv temp/* . && rm -rf temp .git && chmod -R 755 ."
