name: Deploy to NAS

on:
  push:
    branches:
      - main  # Trigger only on pushes to the main branch

jobs:
  update-nas:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install cloudflared
        run: |
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 666 ~/.ssh/id_ed25519
          
          # Add Cloudflare config to SSH
          # This tells SSH to pipe the connection through cloudflared
          echo "Host ${{ secrets.NAS_HOST }}
            User ${{ secrets.NAS_USER }}
            IdentityFile ~/.ssh/id_ed25519
            StrictHostKeyChecking no
            ProxyCommand cloudflared access ssh --hostname %h" >> ~/.ssh/config

      - name: Update Files on NAS
        run: |
          # Command to run on your NAS
          ssh -v ${{ secrets.NAS_HOST }} "date"
          # ssh ${{ secrets.NAS_HOST }} "cd /volume1/Docker/moneda-bio && git pull origin main"
